:root {
    --nav-color: white;
}

.info {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, .25);
    color: white;
}

.info__title {
    position: absolute;
    top: 5vh;
    left: 5vh;
    font: normal bold 4.5vw/1 Montserrat, sans-serif;
}

.info__title a {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 480px) {
    .info__title {
        font-size: 2em;
    }
}

.info__description {
    max-width: calc(100% - 10vh);
    font: normal 5vw/1.5 Montserrat, sans-serif;
}

@media (min-width: 480px) {
    .info__description {
        font-size: 2.2em;
        line-height: 1.5;
    }
}

@media (min-width: 600px) {
    .info__description {
        max-width: 540px;
    }
}

.info__arrow {
    position: absolute;
    bottom: 15vh;
    left: 50%;
    transform: translateX(-50%);
    text-indent: -9999px;
    width: 32px;
    height: 32px;
    background: url(../assets/icons/caret-down.svg) center center no-repeat;
    background-size: 120%;
    cursor: pointer;
}

@media (min-width: 480px) {
    .info__arrow {
        bottom: 10vh;
        width: 56px;
        height: 56px;
    }
}

.info__navigation {
    position: fixed;
    top: 5vh;
    right: 5vh;
    z-index: 1;
    color: var(--nav-color);
    transition: color .5s;
}
