.navigation-container {
    color: var(--nav-color);
}

.navigation {
    position: fixed;
    top: 5vh;
    right: 5vh;
    z-index: 1;
    transition: color .5s;
    display: flex;
    font: normal 20px/1 Montserrat, sans-serif;
    margin-right: -24px;
}

.navigation__btn {
    display: none;
    position: fixed;
    top: 5vh;
    right: 5vh;
    z-index: 2;
    width: 56px;
    height: 56px;
    transform: translate(25%, -25%);
    cursor: pointer;
}

.navigation__logo {
    display: none;
    position: fixed;
    top: 5vh;
    left: 5vh;
    font: normal bold 4.5vw/1 Montserrat, sans-serif;
    text-decoration: none;
    color: inherit;
    z-index: 2;
    transition: color 2.5s;
}

@media (min-width: 480px) {
    .navigation__logo {
        font-size: 2em;
    }
}

.navigation__icon {
    display: inline-block;
    width: 50%;
    height: 50%;
}

.navigation__close-btn {
    font-size: 28px;
}

.navigation a {
    color: inherit;
    margin-right: 24px;
}

@media (max-width: 720px) {

    .navigation-container.is-open {
        color: black;
    }

    .navigation {
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        padding: 0 5vh;
        background: transparent;
        color: transparent;
        animation: navigation-appear-in .5s forwards 1;
    }

    @keyframes navigation-appear-in {
        to {
            height: 100%;
            padding: 4em 5vh 0;
            background: rgba(255, 255, 255, .95);
            color: black;
        }
    }

    .navigation__logo {
        color: transparent;
        animation: navigation-logo-color .5s forwards 1;
    }

    @keyframes navigation-logo-color {
        to {
            color: black;
        }
    }

    .navigation__item {
        font: normal 10vmin/1.5 helvetica, sans-serif;
    }

    .navigation-container.is-open .navigation {
        display: block;
    }

    .navigation-container.is-open .navigation__logo {
        display: block;
    }

    .navigation-container:not(.is-open) .navigation__open-btn {
        display: inline-block;
    }

    .navigation-container.is-open .navigation__close-btn {
        display: inline-block;
    }

}
