@import "reset.css";
@import "reset-more.css";
@import "fonts.css";
@import "helpers.css";
@import "components/loading-indicator.css";
@import "components/reached-end.css";
@import "components/close-icon.css";
@import "components/heading.css";
@import "../components/parallax/style.css";
@import "../components/navigation/style.css";
@import "../info/style.css";
@import "../posts/style.css";
@import "../post/style.css";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {}

body.no-scroll {
    overflow: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}
